# Arquivos compilados do Maven
target/

# Arquivos de log
*.log

# Arquivos de configuração de IDEs
.idea/
*.iml
*.iws
.project
.classpath
.settings/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db